<h1>Hello</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% @questions.each do |q| %>
<div class="media">
  <img class="mr-3" src="<%= q.gravatar%>" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0"><%=q.email %></h5>
    <div>
    <%= time_ago_in_words q.created_at %> ago
  </div>
    <br>
    <%= q.body %>
  </div>
  <a href="/questions/<%= q.id%>" class="btn btn-sucess btn-xs">View anwsers</a>
</div>
<% end %>
